In [1]:
import pandas as pd
import os

In [2]:
COP_DOLLAR = 0.00022
MEX_DOLLAR = 0.049

In [3]:
bog_variants = [
  {
    "name" : "taxi",
    "base_fare" : 2700,
    "min_fare" : 4800,
    "per_min" : 225,
    "per_km" : 957,
    "cancel_fee" : 0,
    "country" : "colombia"
  },
  {
    "name" : "uberx",
    "base_fare" : 2900,
    "min_fare" : 5350,
    "per_min" : 106,
    "per_km" : 562,
    "cancel_fee" : 2800,
    "country" : "colombia"
  },
  {
    "name" : "uberblack",
    "base_fare" : 16300.74,
    "min_fare" : 14790,
    "per_min" : 581.14,
    "per_km" : 9063.8,
    "cancel_fee" : 8314.29,
    "country" : "colombia"
  },
  {
    "name" : "uberxl",
    "base_fare" : 5700,
    "min_fare" : 10150,
    "per_min" : 339,
    "per_km" : 1408,
    "cancel_fee" : 4850,
    "country" : "colombia"
  }
]

In [4]:
uber_bog_variants = pd.DataFrame(bog_variants)
uber_bog_variants[["base_fare", "min_fare", "per_min", "per_km", "cancel_fee"]] = uber_bog_variants[["base_fare", "min_fare", "per_min", "per_km", "cancel_fee"]] * COP_DOLLAR
uber_bog_variants

        name  base_fare  min_fare   per_min    per_km  cancel_fee   country
0       taxi   0.594000    1.0560  0.049500  0.210540    0.000000  colombia
1      uberx   0.638000    1.1770  0.023320  0.123640    0.616000  colombia
2  uberblack   3.586163    3.2538  0.127851  1.994036    1.829144  colombia
3     uberxl   1.254000    2.2330  0.074580  0.309760    1.067000  colombia

In [5]:
equ_variants = [
  {
    "name" : "taxi",
    "base_fare" :  0.9310344827586207 * 0.56,
    "min_fare" : 0.897196261682243 * 1.43,
    "per_min" : 2.122641509433962 * 0.06,
    "per_km" : 1.734875444839858 * 0.21,
    "cancel_fee" : 0,
    "country" : "equador"
  },
  {
    "name" : "uberx",
    "base_fare" : 0.56,
    "min_fare" : 1.43,
    "per_min" : 0.06,
    "per_km" : 0.21,
    "cancel_fee" : 0.5,
    "country" : "equador"
  }
]

In [6]:
uber_equ_variants = pd.DataFrame(equ_variants)
uber_equ_variants

    name  base_fare  min_fare   per_min    per_km  cancel_fee  country
0   taxi   0.521379  1.282991  0.127358  0.364324         0.0  equador
1  uberx   0.560000  1.430000  0.060000  0.210000         0.5  equador

In [7]:
mex_variants = [
  {
    "name" : "taxi",
    "base_fare" : 0.9310344827586207 * 6.6,
    "min_fare" : 0.897196261682243 * 29.9,
    "per_min" : 2.122641509433962 * 1.75,
    "per_km" : 1.734875444839858,
    "cancel_fee" : 0,
    "country" : "mexico"
  },
  {
    "name" : "uberx",
    "base_fare" : 6.6,
    "min_fare" : 29.9,
    "per_min" : 1.75,
    "per_km" : 4,
    "cancel_fee" : 20,
    "country" : "mexico"
  },
  {
    "name" : "uberblack",
    "base_fare" : 17.36,
    "min_fare" : 88.11,
    "per_min" : 4.6,
    "per_km" : 10.52,
    "cancel_fee" : 50,
    "country" : "mexico"
  },
  {
    "name" : "uberxl",
    "base_fare" : 13.2,
    "min_fare" : 67,
    "per_min" : 3.5,
    "per_km" : 8,
    "cancel_fee" : 20,
    "country" : "mexico"
  }
]

In [8]:
uber_mex_variants = pd.DataFrame(mex_variants)
uber_mex_variants[["base_fare", "min_fare", "per_min", "per_km", "cancel_fee"]] = uber_mex_variants[["base_fare", "min_fare", "per_min", "per_km", "cancel_fee"]] * MEX_DOLLAR
uber_mex_variants

        name  base_fare  min_fare   per_min    per_km  cancel_fee country
0       taxi   0.301097  1.314482  0.182017  0.085009        0.00  mexico
1      uberx   0.323400  1.465100  0.085750  0.196000        0.98  mexico
2  uberblack   0.850640  4.317390  0.225400  0.515480        2.45  mexico
3     uberxl   0.646800  3.283000  0.171500  0.392000        0.98  mexico

In [9]:
uber_df = pd.concat([uber_bog_variants, uber_mex_variants, uber_equ_variants], ignore_index=True)
uber_df = uber_df.sort_values(by=["country"])
uber_df = uber_df.reset_index(drop=True)
uber_df

        name  base_fare  min_fare   per_min    per_km  cancel_fee   country
0       taxi   0.594000  1.056000  0.049500  0.210540    0.000000  colombia
1      uberx   0.638000  1.177000  0.023320  0.123640    0.616000  colombia
2  uberblack   3.586163  3.253800  0.127851  1.994036    1.829144  colombia
3     uberxl   1.254000  2.233000  0.074580  0.309760    1.067000  colombia
4       taxi   0.521379  1.282991  0.127358  0.364324    0.000000   equador
5      uberx   0.560000  1.430000  0.060000  0.210000    0.500000   equador
6       taxi   0.301097  1.314482  0.182017  0.085009    0.000000    mexico
7      uberx   0.323400  1.465100  0.085750  0.196000    0.980000    mexico
8  uberblack   0.850640  4.317390  0.225400  0.515480    2.450000    mexico
9     uberxl   0.646800  3.283000  0.171500  0.392000    0.980000    mexico

In [10]:
uber_df.to_csv(os.path.join("dataset", "uber_prices_2022.csv"))